@import 'vendor/_normalize.css';
main {
  min-height: 99.6vh;
  background-image: url("../img/pattern.svg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
}
main .background-fade {
  height: 100%;
  background: rgba(48, 53, 70, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  flex: 1;
  display: flex;
  flex-direction: column;
}
main .main-column {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
  padding-bottom: 30px;
  justify-content: center;
}
main .intro-block {
  margin-top: 6vh;
}
main .lead {
  text-transform: uppercase;
  font-size: 4em;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 700px) {
  main .lead {
    font-size: 3em;
  }
}
main .subheader {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .subheader .subheader-pill {
  display: inline-block;
  background: #84bc56;
  padding: 4px 20px;
}
main ul {
  list-style-type: square;
  margin-top: 32px;
  line-height: 1.9em;
  padding-left: 10px;
  font-size: 1.05em;
  margin-left: 25px;
  margin-right: 25px;
}
main .action-form {
  margin-top: 10.5vh;
}

.section-about-us {
  background-color: #252525;
  padding: 160px 20% 160px;
  color: #fffffffc;
}
@media screen and (max-width: 700px) {
  .section-about-us {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section-about-us .about-us-text {
  padding: 19px 30px;
  margin-bottom: 50px;
  font-size: 1.1em;
  border-left: 5px solid #84bc56;
}
.section-about-us .for-other-inquiries {
  text-align: center;
  margin-top: 45px;
  opacity: 0.6;
}
.section-about-us .for-other-inquiries a,
.section-about-us .for-other-inquiries a:visited,
.section-about-us .for-other-inquiries a:hover,
.section-about-us .for-other-inquiries a:active {
  color: inherit;
}

.section-operators {
  background-color: #3f94d0;
  padding: 80px 12% 55px;
}
.section-operators > h1 {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  font-family: "Satisfy", cursive;
}
.section-operators .operators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section-operators .operator {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 56px;
  background-color: #ffffff2b;
  border-radius: 4px;
  padding: 27px 20px 29px;
  box-sizing: border-box;
}
@media screen and (max-width: 960px) {
  .section-operators .operator {
    width: 40%;
  }
}
@media screen and (max-width: 700px) {
  .section-operators .operator {
    width: 100%;
  }
}
.section-operators .operator-header {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  flex-wrap: wrap;
}
.section-operators .operator-photo {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 1px solid #ffffff61;
  margin-right: 16px;
}
.section-operators .operator-name {
  margin-top: 5px;
  font-size: 1.3em;
  font-weight: 600;
  min-width: 90px;
}
.section-operators .operator-description {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.section-operators .operator-description li {
  margin-bottom: 7px;
}
.section-operators .operator-description li:last-child {
  margin-bottom: 0;
}

body {
  background-color: #151515;
  color: white;
  font-family: "Raleway", "Helvetica", sans-serif;
}

.action-form {
  margin-left: 10px;
  margin-right: 10px;
}
.action-form h2 {
  text-transform: uppercase;
  font-size: 1.1em;
}
.action-form .form-body {
  display: flex;
  align-items: stretch;
  row-gap: 20px;
  flex-wrap: wrap;
}
.action-form .email-form {
  display: flex;
  flex-wrap: wrap;
  margin-right: 70px;
  row-gap: 5px;
}
.action-form input {
  margin-right: 5px;
  width: 165px;
  flex-shrink: 0;
  min-height: 38px;
}

.button {
  color: #ffffffde;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.05);
  border: solid 1px rgba(255, 255, 255, 0.15);
  border-radius: 0.25em;
  padding: 10px 43px;
  cursor: pointer;
  white-space: nowrap;
}
.button:active, .button:hover, .button:visited {
  text-decoration: none;
}
.button:hover, .button:focus {
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.button.button-blue {
  background-color: #3f94d0;
}

input {
  appearance: none;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.25em;
  border: none;
  border: solid 1px rgba(255, 255, 255, 0.15);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

.telegram-btn img {
  height: 26px;
  vertical-align: -6px;
  margin-right: 5px;
}

a.arrow {
  content: url("../img/arrow.png");
  display: inline-block;
}

/*# sourceMappingURL=main.css.map */
