@use 'vendor/_normalize.css';

// Vars
$color-black: #0c0c0e;
$color-gray: #151515;
$color-green: #84bc56;
$color-green-light: #aecc56;
$color-blue: #0096d5;
$color-blue-light: #5ebce7;
$color-blue-dark: #3f94d0;

$control-bg: rgba(255, 255, 255, 0.05);

body {
  background-color: $color-gray;
  color: white;
  font-family: 'Raleway', 'Helvetica', sans-serif;
}

main {
  height: 99.6vh;
  background-image: url("../img/pattern.svg");
  //background-image: url("../img/cover.jpg");
  background-size: cover;
  background-position: center center;

  .background-fade {
    height: 100%;
    background: rgba(48, 53, 70, 0.5);
    box-shadow: inset 0 0 100px rgb(0 0 0 / 50%);
  }

  .main-column {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .intro-block {
    margin-top: 29vh;
  }

  .lead {
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
    margin: 0;
  }

  .subheader {
    display: flex;
    align-items: center;
    flex-direction: column;

    .subheader-pill {
      display: inline-block;
      background: $color-green;
      padding: 4px 20px;
    }
  }

  ul {
    list-style-type: square;
    margin-top: 32px;
    line-height: 1.9em;
    padding-left: 0;
    font-size: 1.05em;
  }

  .action-form {
    margin-top: 10.5vh;
  }
}

.action-form {
  h2 {
    text-transform: uppercase;
    font-size: 1.1em;
  }

  .form-body {
    display: flex;
    align-items: stretch;
  }

  .email-form {
    display: flex;
  }

  input {
    margin-right: 5px;
  }

  .telegram-btn {
    margin-left: 70px;
  }
}

.button {
  color: #ffffffde;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background: $control-bg;
  border: solid 1px rgba(255, 255, 255, 0.15);
  border-radius: 0.25em;
  padding: 10px 43px;
  cursor: pointer;
  white-space: nowrap;

  &:active,
  &:hover,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
  }

  &.button-blue {
    background-color: $color-blue-dark;
  }
}

input {
  appearance: none;
  background: $control-bg;
  border-radius: 0.25em;
  border: none;
  border: solid 1px rgba(255, 255, 255, 0.15);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

.telegram-btn {
  img {
    height: 26px;
    vertical-align: -6px;
    margin-right: 5px;
  }
}

.section-operators {
  background-color: $color-blue-dark;
  padding: 80px 12% 55px;

  > h1 {
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Satisfy', cursive;
  }

  .operators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .operator {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 56px;
    background-color: #ffffff2b;
    border-radius: 4px;
    padding: 27px 20px 29px;
    box-sizing: border-box;
  }

  .operator-header {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
  }

  .operator-photo {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 1px solid #ffffff61;
  }

  .operator-name {
    margin-top: 5px;
    margin-left: 16px;
    font-size: 1.3em;
    font-weight: 600;
  }

  .operator-description {
    margin: 0;
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

a.arrow {
  content: url('../img/arrow.png');
  display: inline-block;
}

.section-about-us {
  background-color: #252525;
  padding: 160px 20% 160px;
  color: #fffffffc;

  .about-us-text {
    padding: 19px 30px;
    margin-bottom: 50px;
    font-size: 1.1em;
    border-left: 5px solid #84bc56;
  }

  .for-other-inquiries {
    text-align: center;
    margin-top: 45px;
    opacity: 0.6;

    a,
    a:visited,
    a:hover,
    a:active {
      color: inherit;
    }
  }
}
