@import '../../../assets/css/mixins';

:host {
  display: flex;
  @include theme('background-color', 'github-background-color');
  @include theme('color', 'github-font-color');
  padding: 11px 21px;
  border-radius: 6px;
  width: fit-content;
  padding-right: 40px;
}

.github {
  width: 64px;
  height: 64px;
  margin-right: 9px;
  @include themeImage('github-icon');
}

.prompt {
  line-height: 1.4rem;
  margin-top: 3px;
}
