<div class="news-column">
  <h2>Latest News:</h2>

  <div class="news-item">
    <p>Pooling is Officially Launched!</p>
    <p>With the release of Chia 1.2.0, Pooling is now officially ready for production on TruePool. <a
      href="/kb/truepool-docker-image/">Official Docker Images</a> that include Chia, MadMax Plotter, Plotman and more
      are now available to all farmers. <a href="pages/join-truepool">Join us now!</a></p>
    <div class="date">7/8/2021</div>
  </div>

  <div class="news-item">
    <p>We are live for alpha testing!</p>
    <p>Truepool mainnet is live for alpha testing. <a href="pages/join-truepool">Learn how to join.</a></p>
    <div class="date">6/30/2021</div>
  </div>

  <div class="news-item">
    <p>As we prepare for the launch of mainnet pooling, we have already
      begun our testnet pool to confirm pooling is functioning properly.</p>
    <p>Please join our telegram channel for connection details.</p>
    <div class="date">6/4/2021</div>
  </div>
</div>
