@import "../../../../assets/css/variables";

:host {
  display: block;
  flex-basis: 40%;

  h2 {
    margin-top: 0.7em;
  }
}

.news-item {
  max-width: 500px;
  padding: 22px 12px 10px 19px;
  background-color: #636363;
  margin-top: 0.8em;
  position: relative;
  line-height: 1.2em;
  border-left: 4px solid $color-yellow;

  .news-item-title {
    margin-bottom: 0.7rem;
  }

  ::ng-deep p {
    margin-bottom: 0;
    margin-top: 0.7rem;

    &:first-of-type {
      margin-top: 0;
    }
  }

  ::ng-deep a {
    color: white;

    &:visited,
    &:active,
    &:focus {
      color: white;
    }
  }

  .news-item-footer {
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
    margin-bottom: 2px;

    .date {
      opacity: 0.5;
      margin-top: 5px;
      margin-left: auto;
    }
  }
}
