<div class="news-column">
  <h2>Latest News:</h2>

  <div class="news-item">
    <p>Details about farmers including information about partials is now available in <a routerLink="/farmers">leaderboard.</a></p>
    <div class="date">7/25/2021</div>
  </div>

  <div class="news-item">
    <p>TruePool on Tom's Hardware!</p>
    <p>TruePool and TrueNAS were featured in an article on Tom's Hardware today!
       <a href="https://www.tomshardware.com/news/truenas-gets-into-chia-farming-truepool">Read Now</a></p>
    <div class="date">7/21/2021</div>
  </div>

  <div class="news-item">
    <p>TruePool Featured on Category5 Tech TV!</p>
    <p>One of the TruePool founders, Kris Moore, was recently interviewed on
    <a href="https://www.youtube.com/channel/UCBLHhOS9kpixWuLmBP6oIjQ">Category5 Tech TV</a> to discuss Chia,
       Pooling and the backstory on TruePool.io. <a
      href="https://www.youtube.com/watch?v=RFRGwBRAt7s">Watch Now</a></p>
    <div class="date">7/15/2021</div>
  </div>

  <div class="news-item">
    <p>Pooling is Officially Launched!</p>
    <p>With the release of Chia 1.2.0, Pooling is now officially ready for production on TruePool. <a
      href="/kb/truepool-docker-image/">Official Docker Images</a> that include Chia, MadMax Plotter, Plotman and more
      are now available to all farmers. <a href="pages/join-truepool">Join us now!</a></p>
    <div class="date">7/8/2021</div>
  </div>

<!--  <div class="news-item">-->
<!--    <p>We are live for alpha testing!</p>-->
<!--    <p>Truepool mainnet is live for alpha testing. <a href="pages/join-truepool">Learn how to join.</a></p>-->
<!--    <div class="date">6/30/2021</div>-->
<!--  </div>-->
</div>
