@import "../../../assets/css/mixins";
@import "../../../assets/css/variables";

header {
  @include theme('background-color', 'banner-color');
  @include theme('color', 'inverse-font-color');
  padding: 12px 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include theme('border-bottom', 'header-border', true, '1px solid');
  position: relative;
  flex-wrap: wrap;

  @media screen and (max-width: $breakpoint-sm) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
  }

  .title {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 600;
    text-decoration: none;
    @include theme('color', 'inverse-font-color');
    display: flex;
    align-items: center;

    .logo {
      margin-right: 15px;
      height: 31px;
    }
  }

  .normal-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 10px 0;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: $breakpoint-md) {
      display: none;
    }

    li {
      margin: 0 10px 0 20px;

      @media screen and (max-width: $breakpoint-lg) {
        margin-left: 9px;
      }
    }

    a {
      @include theme('color', 'inverted-font-color');
      padding: 7px 2px;
      text-decoration: none;
      box-sizing: border-box;
      border-bottom: 1px solid transparent;
      transition: 0.25s border-color;
      display: inline-block;
      cursor: pointer;

      &:visited {
        color: inherit;
      }

      &:hover,
      &:focus {
        @include theme('border-color', 'primary-color-dark');
      }
    }

    .action-button {
      padding-left: 20px;
      padding-right: 20px;
      transition: 0.5s border-color;
      margin-right: 0;
    }
  }

  .action-button {
    border-radius: 4px;
    @include theme('background-color', 'accent-color');
    @include theme('color', 'white');
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s border-color;
    margin-right: 0;
    white-space: nowrap;
    display: inline-block;
    padding-top: 8px;
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &:focus {
      @include theme('border-color', 'accent-color-dark');
    }
  }

/*****************************************************************************
*   MOBILE
******************************************************************************/

  $mobile-menu-height: 24px;
  $menu-bar-height: 4px;

  .mobile-menu-toggle {
    display: none;
    cursor: pointer;
    width: 30px;
    height: $mobile-menu-height;
    position: relative;
    margin-bottom: 1px;

    div {
      display: block;
      width: 100%;
      background-color: white;
      height: $menu-bar-height;
      border-radius: 5px;
      position: absolute;
      transition: top 150ms ease-in;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: calc(#{$mobile-menu-height / 2} - #{$menu-bar-height / 2});
      }

      &:nth-child(3) {
        top: calc(100% - #{$menu-bar-height});
      }
    }

    @media screen and (max-width: $breakpoint-md) {
      display: block;
    }

    &.open {
      > div:nth-child(1),
      > div:nth-child(3) {
        top: calc(#{$mobile-menu-height / 2} - #{$menu-bar-height / 2});
      }
    }
  }

  .mobile-menu {
    height: 0;
    overflow: hidden;
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: $color-black-light;

    @media screen and (max-width: $breakpoint-md) {
      padding-left: 12%;
      padding-right: 12%;
    }

    @media screen and (max-width: $breakpoint-sm) {
      padding-left: 0;
      padding-right: 0;
    }

    &.open {
      @media screen and (max-width: $breakpoint-md) {
        height: calc(100vh - #{$header-height});
      }

      li {
        opacity: 1;
      }

      .action-button {
        opacity: 1;
      }
    }

    ul {
      padding: 0;
      margin: 3px 0 30px;

      margin-top: 20px;
    }

    li {
      list-style-type: none;
      border-bottom: 1px solid $header-border;
      padding: 14px 24px;
      margin-right: 22px;
      margin-left: 0;
      opacity: 0;

      a {
        text-decoration: none;
        color: white;
      }

      &:last-child {
        border-bottom-style: none;
      }

      @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
          transition: opacity #{$i * 150}ms ease-in;
        }
      }
    }

    .action-button {
      
      opacity: 0;
      padding: 8px 30px;
      margin-left: 20px;
      transition: opacity 1s;
    }
  }
}
