<header>
  <a class="title" routerLink="/">
    <img src="./assets/img/logo-with-text.png" class="logo">
  </a>

  <div
    class="mobile-menu-toggle"
    [class.open]="isMobileMenuOpen"
    (click)="onMobileMenuToggled()"
  >
    <div></div>
    <div></div>
    <div></div>
  </div>

  <ul class="normal-menu">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.routerLink">{{ item.title }}</a>
    </li>
    <li><a routerLink="/pages/join-truepool" class="action-button">Join</a></li>
  </ul>

  <div class="mobile-menu" [class.open]="isMobileMenuOpen">
    <ul>
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.routerLink">{{ item.title }}</a>
      </li>
    </ul>
    <a routerLink="/pages/join-truepool" class="action-button">Join</a>
  </div>
</header>
