@import "../../../assets/css/variables";

header {
  padding: 12px 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff2e;
  position: relative;
  flex-wrap: wrap;

  @media screen and (max-width: $breakpoint-sm) {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: flex-start;
    padding-bottom: 7px;
  }

  .title {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 600;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 20px;

    .logo {
      margin-right: 15px;
      height: 31px;
    }
  }

  .menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 10px 0;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: $breakpoint-md) {
      margin-bottom: 0;
      justify-content: space-between;
      width: 100%;
    }

    li {
      margin: 0 10px 0 20px;

      @media screen and (max-width: $breakpoint-sm) {
        margin-left: 0;
        margin-right: 10px;
        margin-bottom: 5px;
        font-size: 0.95rem;
      }

      &.first-mobile-link {
        @media screen and (max-width: $breakpoint-sm) {
          margin-left: 0;
        }
      }

      &:last-child {
        @media screen and (max-width: $breakpoint-sm) {
          margin-right: 0;
        }
      }
    }

    a {
      color: white;
      padding: 7px 2px;
      text-decoration: none;
      box-sizing: border-box;
      border-bottom: 1px solid transparent;
      transition: 0.25s border-color;
      display: inline-block;

      &:visited {
        color: inherit;
      }

      &:hover,
      &:focus {
        border-color: #ffffff36;
      }
    }

    .action-button {
      border-radius: 4px;
      background: $color-green-dark;
      border: 1px solid transparent;
      padding-left: 20px;
      padding-right: 20px;
      transition: 0.5s border-color;
      margin-right: 0;
      white-space: nowrap;
      display: inline-block;
      padding-top: 8px;
      margin-left: 10px;
      text-transform: uppercase;

      @media screen and (max-width: $breakpoint-sm) {
        margin-left: 0;
      }

      &:hover,
      &:focus {
        border-color: #ffffff61;
      }
    }
  }
}

.test-warning {
  text-align: center;
  background-color: $color-blue-dark;
  color: white;
  padding: 6px 0 5px;
}
