<div class="test-warning">
  Mainnet pooling protocol is live and stable.
</div>

<header>
  <a class="title" routerLink="/">
    <img src="./assets/img/logo-with-text.png" class="logo">
  </a>
  <ul class="menu">
    <li class="about-us-link"><a routerLink="/news">News</a></li>
    <li class="first-mobile-link"><a routerLink="/stats">Stats</a></li>
    <li><a routerLink="/farmers">Farmers</a></li>
    <li><a routerLink="/kb">Knowledge Base</a></li>
    <li><a routerLink="/pages/join-truepool" class="action-button">Join</a></li>
  </ul>
</header>
