@import '../../../assets/css/mixins';

.also-available {
  @include theme('background-color', 'gray-light');
  padding: 15px 17px 14px;
  @include theme('border-left', 'primary-color', true, '4px solid');
  border-radius: 3px;

  ul {
    margin: 0;
    padding: 0;
    display: inline;
  }

  li {
    list-style-type: none;
    display: inline;
  }
}

.language {
  &:last-child::after {
    display: inline;
    content: '.';
  }

  &::after {
    display: inline;
    content: ',';
    margin-right: 4px;
  }
}
