<app-pool-details-bar></app-pool-details-bar>

<app-lead-section></app-lead-section>

<section *appLet="poolSizes$ | async as poolSizes" class="section-news">
  <div *ngIf="poolSizes?.length" class="chart-column">
    <app-pool-size-chart [sizes]="poolSizes$ | async" [theme]="PoolSizeChartTheme.Dark"></app-pool-size-chart>
  </div>
  <app-news></app-news>
</section>

<section class="section-operators" id="section-operators">
  <app-operators></app-operators>
</section>

<section class="section-about-us">
  <app-about-us></app-about-us>
</section>
