$action-control-height: 48px;

:host {
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  text-transform: uppercase;
  font-size: 1em;
}

.form-body {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.email-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: 70px;
  margin-bottom: 15px;
}

input {
  margin-right: 5px;
  width: 197px;
  flex-shrink: 0;
  min-height: $action-control-height;
  margin-bottom: 5px;
}

.button {
  min-height: $action-control-height;
}
