$color-black: #0c0c0e;
$color-gray: #151515;
$color-light-gray: #252525;
$color-green: #84bc56;
$color-green-dark: #00af52;
$color-green-light: #aecc56;
$color-yellow: #ebb012;
$color-blue: #0096d5;
$color-blue-light: #5ebce7;
$color-blue-dark: #3f94d0;

$breakpoint-sm: 700px;
$breakpoint-md: 960px;
$breakpoint-lg: 128px;

$header-height: 75px;
