<h1>Meet Your Pool Operators</h1>

<div class="operators">
  <div class="operator">
    <div class="operator-header">
      <img class="operator-photo" src="./assets/img/operators/kris.jpeg">
      <div class="operator-name">Kris</div>
    </div>
    <ul class="operator-description">
      <li>Head of engineering efforts for TrueNAS. <a href="https://www.linkedin.com/in/kris-moore-24b9612/"
                                                      class="arrow"></a></li>
      <li>For years – co-host of BSDNow podcast.</li>
    </ul>
  </div>
  <div class="operator">
    <div class="operator-header">
      <img class="operator-photo" src="./assets/img/operators/jeremy.png">
      <div class="operator-name">Jeremy</div>
    </div>
    <ul class="operator-description">
      <li>Doing business development for the TrueNAS project.</li>
      <li>Runs Cardano Staking Pool. <a href="https://cardano.org/" class="arrow"></a></li>
    </ul>
  </div>
  <div class="operator">
    <div class="operator-header">
      <img class="operator-photo" src="./assets/img/operators/jaron.jpg">
      <div class="operator-name">Jaron</div>
    </div>
    <ul class="operator-description">
      <li>Highly experienced infrastructure Ninja.</li>
      <li>Currently heads up IT and Truecommand Cloud efforts <a
        href="https://www.linkedin.com/in/jaron-parsons-79a97988/" class="arrow"></a></li>
    </ul>
  </div>
  <div class="operator">
    <div class="operator-header">
      <img class="operator-photo" src="./assets/img/operators/william.png">
      <div class="operator-name">William</div>
    </div>
    <ul class="operator-description">
      <li>An Architect of TrueNAS project. <a href="https://github.com/william-gr" class="arrow"></a></li>
    </ul>
  </div>
  <div class="operator">
    <div class="operator-header">
      <img class="operator-photo" src="./assets/img/operators/evgeny.jpg">
      <div class="operator-name">Evgeny</div>
    </div>
    <ul class="operator-description">
      <li>Leads frontend development at TrueNAS. <a href="https://www.linkedin.com/in/evgeny-stepanovych/"
                                                    class="arrow"></a></li>
    </ul>
  </div>
</div>
