@import "../../../assets/css/variables";
@import "/src/assets/css/mixins";

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  @include theme('background-color', 'dark');
  @include theme('color', 'dark');
  align-items: center;
  box-sizing: border-box;

  @media screen and (max-width: $breakpoint-sm) {
    align-items: stretch;
    justify-content: flex-start;
  }
}

.set-name-block {
  display: flex;
  min-height: 360px;
  @include theme('background-color', 'light');
  border-radius: 10px;
  align-items: center;
  margin-bottom: 20vh;
  width: 724px;

  @media screen and (max-width: $breakpoint-sm) {
    width: auto;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.robot-column {
  margin-left: 57px;
  margin-right: 22px;
  margin-top: 8px;

  @media screen and (max-width: $breakpoint-sm) {
    margin-top: 28px;
  }
}

$robot-container-width: 230px;

.robot {
  position: relative;
  width: $robot-container-width;
  height: 277px;

  .robot-shadow,
  .robot-real {
    position: absolute;
    left: 4px;
    width: 100%;
    overflow: hidden;
    height: 0;
    top: 0;

    img {
      width: $robot-container-width - 8px;
      position: absolute;
    }
  }

  .scanning-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    @include theme('background-color', 'accent-color-dark');
    box-shadow: 0 0 10px 3px $color-green-dark;
    opacity: 0;
  }

  &.state-setting-name,
  &.state-name-set {
    .scanning-line {
      opacity: 1;
    }

    .robot-shadow {
      bottom: 9px;
      top: auto;

      img {
        bottom: 0;
      }
    }
  }
}

.form-column {
  margin: 20px;
}

.status-error {
  @include theme('border-left', 'color-error', true, '4px solid'); 
  padding: 7px 12px 4px;
}

.status-text {
  font-size: 1.15rem;
  line-height: 1.15rem;
  margin-left: 5px;
}

.name-form {
  label {
    font-size: 0.9rem;
    margin-bottom: 6px;
    display: block;
  }

  input {
    @include theme('border', 'gray', true, '1px solid'); 
    padding: 8px 17px;
    min-width: 300px;
  }

  .form-group {
    margin-bottom: 20px;
  }
}

.success-message {
  @include theme('border-left', 'accent-color-light', true, '4px solid'); 
  padding: 6px 17px 4px;
  margin-left: 5px;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
