@import "mixins";

table {
  border-collapse: collapse;

  td, th {
    padding: 8px 10px 6px;
    @include theme('border', 'gray-light', true, '1px solid');
  }

  th {
    text-align: left;
  }

  &.table-striped {
    tr:nth-child(odd) {
      @include theme('background-color', 'gray-light');
    }
  }
}

.details-view {
  @include theme('border-left', 'gray-dark', true, '5px solid');
  border-radius: 10px;

  &.details-view-blue {
    @include theme('border-left-color', 'primary-color-dark');

  }

  td {
    padding-left: 13px;
  }

  td,
  th {
    padding-top: 9px;
    padding-bottom: 6px;
    padding-right: 20px;
  }
}

.pager-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;

  @media screen and (max-width: $breakpoint-sm) {
    justify-content: center;
  }
}

.poptip {
  font-size: 80%;
  text-transform: none;
}
