@import "../../assets/css/variables";

html {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: $color-black-light;
  color: white;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.flex-start-center {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.flex-gap-md {
  gap: 24px;
}

.m-none {
  margin: 0;
}

.mb-md {
  margin-bottom: $space-md;
}

.mb-lg {
  margin-bottom: $space-lg;
}

.mb-xl {
  margin-bottom: $space-xl;
}

