$color-black: #0c0c0e;
$color-black2: #151515;
$color-black-light: #252525;
$color-green: #84bc56;
$color-green-dark: #00af52;
$color-green-light: #aecc56;
$color-yellow: #ebb012;
$color-blue: #0096d5;
$color-blue-light: #5ebce7;
$color-blue-dark: #3f94d0;
$color-gray-light: rgb(232, 232, 232);
$color-gray-dark: #8080804f;
$color-red-light: #e62e2e;

$color-control-border: rgba(255, 255, 255, 0.15);

$breakpoint-sm: 700px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;

$header-height: 51px;
