<section *ngIf="info$ | async" class="wrapper-details">
  <div class="wrapper-detail">
    <span>Farmers:</span>
    <p>{{ farmers$ | async }}</p>
  </div>
  <div class="wrapper-detail">
    <span>Pool size:</span>
    <p>{{ size$ | async | filesize: { standard: 'iec' } }}</p>
  </div>
  <div *ngIf="uptime$ | async as uptime" class="wrapper-detail">
    <span>Uptime 90d:</span>
    <p>{{ uptime }}%</p>
  </div>
  <div class="wrapper-detail usd">
    <span>XCH:</span>
    <p>${{ xchValue$ | async }}</p>
  </div>
</section>
