@import "../css/variables";

$control-bg: rgba(255, 255, 255, 0.05);

.button {
  color: #ffffffde;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background: $control-bg;
  border: solid 1px $color-control-border;
  border-radius: 0.25em;
  padding: 10px 43px;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  transition: 0.25s border-color;

  &:active,
  &:hover,
  &:visited {
    text-decoration: none;
    color: white;
  }

  &:hover,
  &:focus {
    border-color: #ffffff61;
  }

  &.button-blue {
    background-color: $color-blue-dark;
  }

  &.button-green {
    background-color: $color-green-dark;
  }

  &[disabled] {
    opacity: 0.4;
    cursor: default;
  }
}

input {
  appearance: none;
  background: $control-bg;
  border-radius: 0.25em;
  border: solid 1px $color-control-border;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  box-sizing: border-box;
}
