<div *appLet="infoState$ | async as infoState" class="page-content">
  <div class="page-title">Stats</div>
  <!-- TODO: Add Material Icons to Info Boxes -->
  <app-content-loader [isLoading]="infoState.isLoading" [error]="infoState.error">
    <div *ngIf="infoState.info as info" class="big-numbers">
      <div class="big-number">
        <div class="big-number-value shorter-value">{{ info.total_farmers | number }}</div>
        <div class="big-number-title">Pool Members</div>
      </div>
      <div class="big-number">
        <div class="big-number-value">{{ info.total_size | filesize: { standard: 'iec' } }}</div>
        <div class="big-number-title">
          Truepool Space
          <poptip msg="The total estimated disk space managed by TruePool"></poptip></div>
      </div>
      <div class="big-number">
        <div class="big-number-value">{{ info.total_size / info.blockchain_totalspace | percent: '1.0-5' }}</div>
        <div class="big-number-title">
          Truepool Network Share
          <poptip msg="The percentage of space TruePool has of the entire Chia Network"></poptip>
        </div>
      </div>
      <div class="big-number">
        <div class="big-number-value">{{ info.blockchain_totalspace | filesize: { standard: 'iec' } }}</div>
        <div class="big-number-title">Total Network Space</div>
      </div>
      <div class="break"></div>
      <div class="big-number">
        <div class="big-number-value longer-value">{{ info.reward_last_date | date }}</div>
        <div class="big-number-title">Last Reward</div>
      </div>
      <div class="big-number">
        <div class="big-number-value">{{ info.minutes_to_win | minutes }}</div>
        <div class="big-number-title">
          Estimated Time To Win
          <poptip msg="The estimated time it will take TruePool to farm a block since the last block was found"></poptip>
        </div>
      </div>
      <div class="big-number">
        <div class="big-number-value">{{ info.seconds_since_last_win / 60 | minutes }}</div>
        <div class="big-number-title">
          Time Since Last Win
          <poptip msg="The time elapsed since the last block that TruePool found"></poptip>
        </div>
      </div>
      <div class="big-number">
        <div class="big-number-value">{{ (info.seconds_since_last_win / 60) / info.minutes_to_win | percent }}</div>
        <div class="big-number-title">
          Luck
          <poptip msg="When TruePool farmers find a block while Luck is under 100% it is considered lucky"></poptip>
        </div>
      </div>
    </div>
  </app-content-loader>

  <app-content-loader
    *appLet="poolSizesState$ | async as poolSizesState"
    [isLoading]="poolSizesState.isLoading"
    [error]="poolSizesState.error"
  >
    <div *ngIf="poolSizesState.sizes.length" class="pool-size-chart-container">
      <h2 class="pool-space-header">Pool Space</h2>
      <app-pool-size-chart class="chart" [sizes]="somePoolSizes$ | async"></app-pool-size-chart>
    </div>
  </app-content-loader>

  <!-- TODO: Pagination -->
  <div class="stats-table">
    <div class="table-wrapper">
      <app-coin-table></app-coin-table>
    </div>
    <div class="table-wrapper">
      <app-payout-table></app-payout-table>
    </div>
  </div>
</div>
