<div *appLet="infoState$ | async as infoState" class="page-content">
  <div class="page-title">Stats</div>

  <app-content-loader [isLoading]="infoState.isLoading" [error]="infoState.error">
    <div *ngIf="infoState.info as info" class="big-numbers">
      <div class="big-number">
        <div class="big-number-value shorter-value">{{ info.total_farmers | number }}</div>
        <div class="big-number-title">Pool Members</div>
      </div>
      <div class="big-number">
        <div class="big-number-value longer-value">{{ info.reward_last_date | date }}</div>
        <div class="big-number-title">Last Reward</div>
      </div>
      <div class="big-number">
        <div class="big-number-value">{{ info.blockchain_totalspace | filesize: { standard: 'iec' } }}</div>
        <div class="big-number-title">Total Network Space</div>
      </div>
      <div class="break"></div>
      <div class="big-number">
        <div class="big-number-value">{{ info.total_size | filesize: { standard: 'iec' } }}</div>
        <div class="big-number-title">Truepool Space</div>
      </div>
      <div class="big-number">
        <div class="big-number-value">{{ info.total_size / info.blockchain_totalspace | percent: '1.0-5' }}</div>
        <div class="big-number-title">Truepool Network Share</div>
      </div>
      <div class="big-number">
        <div class="big-number-value">{{ growthLast24h$ | async | filesize: { standard: 'iec' } }}</div>
        <div class="big-number-title">Added Last 24h</div>
      </div>
      <div class="break"></div>
      <div class="big-number">
        <div class="big-number-value">{{ info.minutes_to_win | minutes }}</div>
        <div class="big-number-title">Estimated Time To Win</div>
      </div>
      <div class="big-number">
        <div class="big-number-value">{{ info.seconds_since_last_win / 60 | minutes }}</div>
        <div class="big-number-title">Time Since Last Win</div>
      </div>
      <div class="big-number">
        <div class="big-number-value">{{ (info.seconds_since_last_win / 60) / info.minutes_to_win | percent }}</div>
        <div class="big-number-title" title="TruePool's luck metric - when our farmers find a block while luck is under 100% it is considered lucky.">Luck</div>
      </div>
    </div>
  </app-content-loader>


  <app-content-loader
    *appLet="poolSizesState$ | async as poolSizesState"
    [isLoading]="poolSizesState.isLoading"
    [error]="poolSizesState.error"
  >
    <div *ngIf="poolSizesState.sizes.length" class="pool-size-chart-container">
      <h2 class="pool-space-header">Pool Space</h2>
      <app-pool-size-chart class="chart" [sizes]="somePoolSizes$ | async"></app-pool-size-chart>
    </div>
  </app-content-loader>

  <!-- TODO: Separate component -->
  <!-- TODO: Pagination -->
  <h2>Coins Won</h2>
  <app-content-loader
    *appLet="coinRecordsState$ | async as coinRecordsState"
    [isLoading]="coinRecordsState.isLoading"
    [error]="coinRecordsState.error"
  >
    <ng-container *ngIf="!coinRecordsState.coinRecords?.length; else coinRecordsTable">
      No coins won.
    </ng-container>
    <ng-template #coinRecordsTable>
      <table class="stats-table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Block Index</th>
          <th>Farmed By</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let record of coinRecordsState.coinRecords">
          <td>{{ record.timestamp * 1000 | date: 'short' }}</td>
          <td>{{ record.confirmed_block_index }}</td>
          <td>{{ record.farmed_by.display_name || 'Unnamed Farmer' }}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </app-content-loader>

  <h2>Payouts</h2>
  <app-content-loader
    *appLet="payoutsState$ | async as payoutsState"
    [isLoading]="payoutsState.isLoading"
    [error]="payoutsState.error"
  >
    <ng-container *ngIf="!payoutsState.payouts?.length; else payoutsTable">
      No payouts.
    </ng-container>
    <ng-template #payoutsTable>
      <table class="stats-table">
        <thead>
        <tr>
          <th> </th>
          <th>Date</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let payout of payoutsState.payouts">
            <tr>
              <td><a class="details-link" [routerLink]="['/payout', payout.id]">#{{ payout.id }}</a></td>
              <td>{{ payout.datetime | date: 'short' }}</td>
              <td>{{ payout.amount | xch }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-template>
  </app-content-loader>
</div>
