@import "../../../../assets/css/variables";

main {
  background-color: #252525;
  color: #eee;
  min-height: calc(100vh - #{$header-height} - 10px);
  display: flex;
  flex-direction: column;
  position: relative;

  .glow {
    width: 10px;
    height: 10px;
    position: absolute;
    background: #27333d;
    border-radius: 5px;
    top: 50vh;
    left: 50vw;
    box-shadow: 1px 1px 120px 200px #3f94d01f;
  }

  .background-fade {
    height: 100%;
    background: rgba(37, 37, 37, 0.5);
    box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.5);
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .main-column {
    position: relative;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    justify-content: center;
    padding: 0 20px 10px;

    @media screen and (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }

  .intro-block {
    @media screen and (max-width: $breakpoint-sm) {
      margin-top: 20px;
    }
  }

  .lead-image {
    width: 40vw;
    margin-right: 100px;

    @media screen and (max-width: $breakpoint-md) {
      width: 80vw;
      margin-right: 0;
      margin-top: 27px;
    }
  }

  .lead-text {
    text-transform: uppercase;
    font-size: 4em;
    margin: 0;

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 3em;
    }
  }

  .subheader {
    .subheader-pill {
      display: inline-block;
      background: $color-blue-dark;
      padding: 4px 20px;
      margin-left: 2px;
    }
  }

  .reasons {
    list-style-type: square;
    margin-top: 44px;
    line-height: 1.4em;
    padding-left: 10px;
    font-size: 1.05em;
    margin-left: 10px;
    margin-right: 25px;

    li {
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;
      color: white;
      border-bottom: 1px solid white;

      &.same-page-link {
        border-bottom: 1px dotted white;
      }
    }

    .truenas-logo {
      text-decoration: none;
      border-bottom: none;

      img {
        height: 30px;
        margin-left: 5px;
        vertical-align: middle;
        position: relative;
        bottom: 4px;

        @media screen and (max-width: $breakpoint-sm) {
          margin-top: 10px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .worlds-most-popular-nas {
    font-size: 0.95em;
    margin-left: 12px;
    display: inline-block;
    margin-top: 5px;

    @media screen and (max-width: $breakpoint-sm) {
      margin-left: 0;
    }
  }

  .join-truepool {
    margin-right: 22px;
  }

  .github-icon {
    border-bottom: none;
    margin-top: 2px;

    img {
      height: 30px;
    }
  }

  .discord-icon {
    border-bottom: none;
    margin-top: 2px;
    margin-right: 18px;

    img {
      height: 30px;
    }
  }

  .action-buttons {
    
    margin-top: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: $breakpoint-sm) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}
