@import "../variables";

.section-operators {
  background-color: $color-blue-dark;
  padding: 80px 12% 55px;

  > h1 {
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Satisfy', cursive;
  }

  .operators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .operator {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 56px;
    background-color: #ffffff2b;
    border-radius: 4px;
    padding: 27px 20px 29px;
    box-sizing: border-box;

    @media screen and (max-width: $breakpoint-md) {
      width: 40%;
    }

    @media screen and (max-width: $breakpoint-sm) {
      width: 100%;
    }
  }

  .operator-header {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    column-gap: 16px;
    flex-wrap: wrap;
  }

  .operator-photo {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 1px solid #ffffff61;
  }

  .operator-name {
    margin-top: 5px;
    font-size: 1.3em;
    font-weight: 600;
    min-width: 90px;
  }

  .operator-description {
    margin: 0;
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
