<div class="action-form">
    <h2>Join Our Mailing List:</h2>

    <div class="form-body">
        <form class="email-form" method="post" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl" target="_blank">
            <div style="display: none;">
                <input type="hidden" name="meta_web_form_id" value="1263940463" />
                <input type="hidden" name="meta_split_id" value="" />
                <input type="hidden" name="listname" value="awlist6052315" />
                <input type="hidden" name="redirect" value="https://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_f6f78f2ef9d8907006c554d40c1988e8" />

                <input type="hidden" name="meta_adtracking" value="Trupool.io_form" />
                <input type="hidden" name="meta_message" value="1" />
                <input type="hidden" name="meta_required" value="email" />

                <input type="hidden" name="meta_tooltip" value="" />
            </div>
            <input type="email" name="email" placeholder="Email">
            <button type="submit" class="button button-blue" name="submit">Join List</button>
            <div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=jExszJwsDCxszA==" alt="" /></div>
        </form>

        <a href="https://t.me/truepool_chia" class="button telegram-btn">
            <img src="img/telegram-white.png">
            Join Telegram
        </a>
    </div>
</div>
