{{ define "head" }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{{ end }}
{{ define "main" }}
    <main class="page-main">
        <div class="glow"></div>
        <div class="background-fade">
            <div class="main-column">
                <img src="img/farm-plot2.png" alt="Farm plot graphic" class="lead-image">
                <div>
                    <div class="intro-block">
                        <h1 class="lead-text">Truepool.io</h1>
                        <span class="subheader">
                                <span class="subheader-pill">
                                    The Chia pool
                                </span>
                            </span>

                        <ul>
                            <li id="under-management">
                                <a
                                    class="same-page-link"
                                    href="#stats"
                                    onclick="return smoothlyScrollTo('#stats');"
                                >158 PB</a> under management.
                            </li>
                            <li>From
                                <a
                                    class="same-page-link"
                                    href="#section-operators"
                                    onclick="return smoothlyScrollTo('#section-operators');"
                                >makers</a> of
                                <a
                                    class="truenas-logo"
                                    href="#section-operators"
                                    onclick="return smoothlyScrollTo('#section-operators');"
                                >
                                    <img src="/img/truenas-logo.png" />
                                </a>
                                <br>
                                <span class="worlds-most-popular-nas">world's most popular NAS operating system.</span></li>
                                <li>Only 1% Operators Fee &mdash; with 25% of that fee supporting the TrueNAS project.</li>
<li>A pool that <a href="/pages/join-truepool/">supports open source</a>.</li>
                        </ul>

                        <div class="action-buttons">
                            <a href="/pages/join-truepool" class="button button-green join-truepool">Join Truepool</a>

                            <a href="https://t.me/truepool_chia" target="_blank" class="telegram-icon">
                                <img src="img/telegram-white.png">
                            </a>

                            <a href="https://discord.com/invite/hWwAfGFyBz" target="_blank" class="discord-icon">
                                <img src="img/discord.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section class="section-news">
        <div class="chart-column" id="stats"></div>

        <div class="news-column">
            <h2>Latest News:</h2>

            <div class="news-item">
                <p>We are live for alpha testing!</p>
                <p>Truepool mainnet is live for alpha testing. <a href="pages/join-truepool">Learn how to join.</a></p>
                <div class="date">30/6/2021</div>
            </div>

            <div class="news-item">
                <p>As we prepare for the launch of mainnet pooling, we have already
                    begun our testnet pool to confirm pooling is functioning properly.</p>
                <p>Please join our telegram channel for connection details.</p>
                <div class="date">6/4/2021</div>
            </div>
        </div>
    </section>

    <section class="section-operators" id="section-operators">
        <h1>Meet Your Pool Operators</h1>

        <div class="operators">
            <div class="operator">
                <div class="operator-header">
                    <img class="operator-photo" src="img/operators/kris.jpeg">
                    <div class="operator-name">Kris</div>
                </div>
                <ul class="operator-description">
                    <li>Head of engineering efforts for TrueNAS. <a href="https://www.linkedin.com/in/kris-moore-24b9612/" class="arrow"></a></li>
                    <li>For years – co-host of BSDNow podcast.</li>
                </ul>
            </div>
            <div class="operator">
                <div class="operator-header">
                    <img class="operator-photo" src="img/operators/jeremy.png">
                    <div class="operator-name">Jeremy</div>
                </div>
                <ul class="operator-description">
                    <li>Doing business development for the TrueNAS project.</li>
                    <li>Runs Cardano Staking Pool. <a href="https://cardano.org/" class="arrow"></a></li>
                </ul>
            </div>
            <div class="operator">
                <div class="operator-header">
                    <img class="operator-photo" src="img/operators/jaron.jpg">
                    <div class="operator-name">Jaron</div>
                </div>
                <ul class="operator-description">
                    <li>Highly experienced infrastructure Ninja.</li>
                    <li>Currently heads up IT and Truecommand Cloud efforts <a href="https://www.linkedin.com/in/jaron-parsons-79a97988/" class="arrow"></a></li>
                </ul>
            </div>
            <div class="operator">
                <div class="operator-header">
                    <img class="operator-photo" src="img/operators/william.png">
                    <div class="operator-name">William</div>
                </div>
                <ul class="operator-description">
                    <li>An Architect of TrueNAS project. <a href="https://github.com/william-gr" class="arrow"></a></li>
                </ul>
            </div>
            <div class="operator">
                <div class="operator-header">
                    <img class="operator-photo" src="img/operators/evgeny.jpg">
                    <div class="operator-name">Evgeny</div>
                </div>
                <ul class="operator-description">
                    <li>Leads frontend development at TrueNAS. <a href="https://www.linkedin.com/in/evgeny-stepanovych/" class="arrow"></a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section-about-us">
        <div class="about-us-text">
            <p>TruePool is a handpicked team of highly specialized talent.</p>
            <p>We’ve worked together on the TrueNAS project (the most popular NAS Operating System) for the better
                part of a decade and work extremely well together.</p>
            <p>We’ve been building and maintaining systems for a combined 80+ years and plan on making
                TruePool one of the most successful pools on the Chia Network.</p>
        </div>

        {{ partial "contact-form.html" . }}

        <div class="for-other-inquiries">
            For other inquiries, please reach us at <a href="mailto:operators@truepool.io">operators@truepool.io</a>.<br>
            <br>
            TrueNAS is a registered trademark of iXsystems Inc, used with permission. <br>
            Barak Moore &mdash; artist for TruePool and creator of the TrueNAS Stencil pack.
        </div>
    </section>
{{ end }}
