{{ define "main" }}
    <main>
        <div class="glow"></div>
        <div class="background-fade">
            <div class="main-column">
                <img src="img/farm-plot.png" alt="Farm plot graphic" class="lead-image">
                <div>
                    <div class="intro-block">
                        <h1 class="lead-text">Truepool.io</h1>
                        <span class="subheader">
                                <span class="subheader-pill">
                                    The Chia pool
                                </span>
                            </span>

                        <ul>
                            <li><a href="#stats">158 PB</a> under management.</li>
                            <li>From <a href="#section-operators">makers of TrueNAS</a>,<br>
                                world's most popular NAS operating system.</li>
                            <li>A pool that <a href="">supports open source</a>.</li>
                        </ul>

                        <div class="action-buttons">
                            <a href="/" class="button">Why Truepool?</a>
                            <a href="/" class="button button-green">Join Truepool</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section class="section-news">
        <div class="chart-column" id="stats">
            <img src="img/dummy-chart.png" class="dummy-chart">
        </div>

        <div class="news-column">
            <h2>Latest News:</h2>

            <div class="news-item">
                <p>We are live!</p>
                <p>Chia devs finally figured their code out and we couldn't be happier.</p>
                <div class="date">12/6/2021</div>
            </div>

            <div class="news-item">
                <p>As we prepare for the launch of mainnet pooling, we have already
                    begun our testnet pool to confirm pooling is functioning properly.</p>
                <p>Please join our telegram channel for connection details.</p>
                <div class="date">6/4/2021</div>
            </div>
        </div>
    </section>

    <section class="section-operators" id="section-operators">
        <h1>Meet Your Pool Operators</h1>

        <div class="operators">
            <div class="operator">
                <div class="operator-header">
                    <img class="operator-photo" src="img/kris.jpeg">
                    <div class="operator-name">Kris</div>
                </div>
                <ul class="operator-description">
                    <li>Head of engineering efforts for TrueNAS. <a href="https://www.linkedin.com/in/kris-moore-24b9612/" class="arrow"></a></li>
                    <li>For years – co-host of BSDNow podcast.</li>
                </ul>
            </div>
            <div class="operator">
                <div class="operator-header">
                    <img class="operator-photo" src="img/jeremy.png">
                    <div class="operator-name">Jeremy</div>
                </div>
                <ul class="operator-description">
                    <li>Doing business development for the TrueNAS project.</li>
                    <li>Runs Cardano Staking Pool. <a href="https://cardano.org/" class="arrow"></a></li>
                </ul>
            </div>
            <div class="operator">
                <div class="operator-header">
                    <img class="operator-photo" src="img/jaron.jpg">
                    <div class="operator-name">Jaron</div>
                </div>
                <ul class="operator-description">
                    <li>Highly experienced infrastructure Ninja.</li>
                    <li>Currently heads up IT and Truecommand Cloud efforts <a href="https://www.linkedin.com/in/jaron-parsons-79a97988/" class="arrow"></a></li>
                </ul>
            </div>
            <div class="operator">
                <div class="operator-header">
                    <img class="operator-photo" src="img/william.png">
                    <div class="operator-name">William</div>
                </div>
                <ul class="operator-description">
                    <li>An Architect of TrueNAS project. <a href="https://github.com/william-gr" class="arrow"></a></li>
                </ul>
            </div>
            <div class="operator">
                <div class="operator-header">
                    <img class="operator-photo" src="img/evgeny.jpg">
                    <div class="operator-name">Evgeny</div>
                </div>
                <ul class="operator-description">
                    <li>Leads frontend development at TrueNAS. <a href="https://www.linkedin.com/in/evgeny-stepanovych/" class="arrow"></a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section-about-us">
        <div class="about-us-text">
            <p>TruePool is a handpicked team of highly specialized talent.</p>
            <p>We’ve worked together on the TrueNAS project (the most popular NAS Operating System) for the better
                part of a decade and work extremely well together.</p>
            <p>We’ve been building and maintaining systems for a combined 80+ years and plan on making
                TruePool one of the most successful pools on the Chia Network.</p>
        </div>

        <div class="action-form">
            <h2>Join mailing list:</h2>

            <div class="form-body">
                <form class="email-form" method="post" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl" target="_blank">
                    <div style="display: none;">
                        <input type="hidden" name="meta_web_form_id" value="1263940463" />
                        <input type="hidden" name="meta_split_id" value="" />
                        <input type="hidden" name="listname" value="awlist6052315" />
                        <input type="hidden" name="redirect" value="https://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_f6f78f2ef9d8907006c554d40c1988e8" />

                        <input type="hidden" name="meta_adtracking" value="Trupool.io_form" />
                        <input type="hidden" name="meta_message" value="1" />
                        <input type="hidden" name="meta_required" value="email" />

                        <input type="hidden" name="meta_tooltip" value="" />
                    </div>
                    <input type="email" name="email" placeholder="Email">
                    <button type="submit" class="button button-blue" name="submit">Join List</button>
                    <div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=jExszJwsDCxszA==" alt="" /></div>
                </form>

                <a href="https://t.me/truepool_chia" class="button telegram-btn">
                    <img src="img/telegram-white.png">
                    Join Telegram
                </a>
            </div>
        </div>

        <div class="for-other-inquiries">
            For other inquiries, please reach us at <a href="mailto:operators@truepool.io">operators@truepool.io</a>.
        </div>
    </section>
{{ end }}
