@import "../../../assets/css/variables";

:host {
  display: flex;
  align-items: center;
}

.previous-page,
.next-page {
  border: 1px solid $color-gray-light;
  cursor: pointer;
  padding: 9px 14px;
  border-radius: 5px;
  font-weight: 600;
  color: $color-blue-dark;

  &.disabled {
    pointer-events: none;
    cursor: default;
    color: $color-gray-dark;
  }
}

.page-number {
  display: flex;
  padding-left: 12px;
  padding-right: 10px;
  align-items: center;
}

.current-page-link {
  border-bottom: 1px dotted $color-blue-light;
  color: darken($color-blue-dark, 10%);
  margin-right: 6px;
  cursor: pointer;
  line-height: 1.1rem;
}

.page-input {
  border: 1px solid $color-gray-light;
  height: 26px;
  margin-right: 6px;
  -moz-appearance: textfield;
  text-align: center;
  padding: 6px 12px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  &.has-error {
    border-color: $color-red-light;
  }
}
