@import "../../../assets/css/variables";
@import "../../../assets/css/mixins";

:host {
  display: flex;
  align-items: center;
}

.previous-page,
.next-page {
  @include theme('border', 'gray-light', true, '1px solid');
  cursor: pointer;
  padding: 9px 14px;
  border-radius: 5px;
  font-weight: 600;
  @include theme('color', 'primary-color-dark');

  &.disabled {
    pointer-events: none;
    cursor: default;
    @include theme('color', 'gray-light');
  }
}

.page-number {
  display: flex;
  padding-left: 12px;
  padding-right: 10px;
  align-items: center;
  white-space: nowrap;
}

.current-page-link {
  @include theme('border-bottom', 'primary-color-light', true, '1px dotted');
  color: darken($color-blue-dark, 10%);
  margin-right: 6px;
  cursor: pointer;
  line-height: 1.1rem;
}

.page-input {
  @include theme('border', 'gray-light', true, '1px solid');
  height: 26px;
  margin-right: 6px;
  -moz-appearance: textfield;
  text-align: center;
  padding: 6px 12px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  &.has-error {
    @include theme('border-color', 'color-error');
  }
}
