<div class="page-content">
    <app-content-loader
        *ngIf="state$ | async as state"
        [isLoading]="state.isLoading"
        [error]="state.error"
    >
        <div class="page-title">Payout #{{ state.payout?.id }}</div>
        <p>
            {{ state.payout?.datetime | date: 'short' }}
        </p>

        <h2>Coins</h2>
        <ng-container *ngIf="state.coinRecords as coins">
            <table class="stats-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Block Index</th>
                        <th>Farmed By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let coin of coins">
                        <td>
                            {{ coin.timestamp * 1000 | date: 'short' }}
                        </td>
                        <td>{{ coin.confirmed_block_index }}</td>
                        <td>
                            <a>{{ coin.farmer_display_name }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-container *ngIf="state.addresses">
            <h2>Farmer Payouts</h2>
            <table class="mb-md">
                <thead>
                    <tr>
                        <th>Farmer</th>
                        <th>Amount</th>
                        <th>Height</th>
                        <th>Transaction</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!state.addresses?.length; else payoutAddresses">
                        <td colspan="4">No records.</td>
                    </tr>
                    <ng-template #payoutAddresses>
                        <ng-container *ngFor="let address of state.addresses; let i = index;">
                            <tr>
                                <td>
                                    <a (click)="onFarmerSelection(address.farmer)">
                                        {{ address.farmer?.display_name || 'Unknown' }}
                                    </a>
                                </td>
                                <td>{{ address.amount | xch }}</td>
                                <td>{{ address.confirmed_height }}</td>
                                <td>{{ address.transaction }}</td>
                            </tr>
                            <tr *ngIf="farmer && farmer?.launcher_id === address.farmer?.launcher_id">
                                <h4>
                                    <ng-container *ngIf="farmer.display_name; else noName">{{ farmer.display_name }}</ng-container>
                                    <ng-template #noName>
                                        Unnamed farmer
                                        <a
                                            class="set-name-link"
                                            routerLink="/kb/set-friendly-leaderboard-name"
                                        >
                                            Learn how to set a name &#10142;
                                        </a>
                                    </ng-template>
                                </h4>
                                <table class="details-view details-view-blue table-striped">
                                    <tbody>
                                        <tr>
                                            <th>Launcher ID</th>
                                            <td>{{ farmer.launcher_id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Points</th>
                                            <td>
                                                {{ farmer.points | number }}
                                        ({{ farmer.points_percentage / 100 | percent: '1.0-4' }})
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Difficulty</th>
                                            <td>{{ farmer.difficulty | number }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tr>
                        </ng-container>
                    </ng-template>
                </tbody>
            </table>
        </ng-container>
    </app-content-loader>
</div>
