@import "../../../assets/css/mixins";

:host {
  @include page();

  .page-content {
    padding-bottom: 110px;

    @media screen and (max-width: $breakpoint-sm) {
      padding-bottom: 58px;
    }
  }
}

.category-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;

  &:visited {
    color: $color-blue-dark;
  }
}

article ::ng-deep {
  @include common-article-styles();
}

.prompt {
  margin-top: 45px;
}
