<div class="about-us-text">
  <p>TruePool is a handpicked team of highly specialized talent.</p>
  <p>We’ve worked together on the TrueNAS project (the most popular NAS Operating System) for the better
    part of a decade and work extremely well together.</p>
  <p>We’ve been building and maintaining systems for a combined 80+ years and plan on making
    TruePool one of the most successful pools on the Chia Network.</p>
</div>

<app-contact-form></app-contact-form>

<div class="for-other-inquiries">
  For other inquiries, please reach us at <a href="mailto:operators@truepool.io">operators@truepool.io</a>.<br>
  <br>
  TrueNAS is a registered trademark of iXsystems Inc, used with permission. <br>
  Barak Moore &mdash; artist for TruePool and creator of the TrueNAS Stencil pack.
</div>
