.leaderboard {
  width: 100%;

  .no-points {
    opacity: 0.6;
  }

  .launcher-id {
    word-break: break-all;
  }
}

.limited-message {
  font-style: italic;
  margin-top: 12px;
  font-size: 0.9rem;
}
