@import "../../../../assets/css/variables";

.leaderboard {
  width: 100%;

  .no-points {
    opacity: 0.6;
  }

  .launcher-id {
    word-break: break-all;
  }
}

.estimated-size-column {
  @media screen and (max-width: $breakpoint-sm) {
    display: none;
  }
}

.leaderboard-explanation {
  font-size: 0.9rem;
  opacity: 0.9;
  line-height: 1.1rem;
  padding-right: 10px;
}

.pager-container {
  justify-content: space-between;
}
