<ng-container *appLet="state$ | async as state">
  <app-content-loader [isLoading]="state.isLoading" [error]="state.error">
    <ng-container *ngIf="state.topFarmers?.results">
      <table class="leaderboard">
        <thead>
        <tr>
          <th>Rank</th>
          <th>Points</th>
          <th>Overall points share</th>
          <th class="estimated-size-column">Estimated Size</th>
          <th>Launcher ID</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!state.topFarmers.results.length; else farmers">
          <td colspan="4">No records.</td>
        </tr>

        <ng-template #farmers>
          <ng-container *ngFor="let farmer of state.topFarmers.results; let i = index;">
            <tr [class.no-points]="!farmer.points">
              <td># {{ state.currentPage * pageSize + i + 1 }}</td>
              <td>{{ farmer.points | number }}</td>
              <td>{{ farmer.points_percentage / 100 | percent: '1.0-4' }}</td>
              <td class="estimated-size-column">
                {{ farmer.farm_estimated_size ? (farmer.farm_estimated_size | filesize: { standard: 'iec' }) : '?' }}
              </td>
              <td class="launcher-id">
                <a (click)="onFarmerNameClicked(farmer.launcher_id)" class="details-link">
                  {{ farmer.display_name || farmer.launcher_id }}
                </a>
              </td>
            </tr>

            <tr *ngIf="farmer.launcher_id === showDetailsForLauncherId" class="details">
              <td colspan="5">
                <app-farmer-search-results [query]="showDetailsForLauncherId"></app-farmer-search-results>
              </td>
            </tr>
          </ng-container>
        </ng-template>
        </tbody>
      </table>

      <div class="pager-container">
        <div class="leaderboard-explanation">
          Leaderboard resets once token is won.<br>
          Farmers with 0 points are not listed, but can be found in search.
        </div>

        <app-pager
          *ngIf="state.topFarmers.count > pageSize"
          [currentPage]="state.currentPage"
          [pageSize]="pageSize"
          [totalItems]="state.topFarmers.count"
          (pageChange)="onPageChanged($event)"
        ></app-pager>
      </div>
    </ng-container>
  </app-content-loader>
</ng-container>
